/***********************
 * General             *
 **********************/

body {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: small;
    margin: 0 auto;
    padding: 0px;
    width: 980px;
    background: #504d4d none repeat scroll 0 0;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: large;
    font-weight: bold;
}

h3 {
    font-size: large;
    font-weight: normal;
}

/***********************
 * Header              *
 **********************/

div.header {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

div.header p {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ccc;
    font-size: 2em;
}

/***********************
 * Navigation Bar      *
 **********************/

div.navigation_bar {
    font-size: 1.2em;
    margin: 0 auto;
    position: relative;
    top: -10px;
    width: 980px;
    background: #d2082f; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2082f 0%, #d90b33 50%, #d90b33 51%, #9d0c26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2082f), color-stop(50%,#d90b33), color-stop(51%,#d90b33), color-stop(100%,#9d0c26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2082f', endColorstr='#9d0c26',GradientType=0 ); /* IE6-9 */
    padding-top: 6px;
    padding-bottom: 6px;
    height: 26px;
}

div.navigation_bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div.navigation_bar li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    height: 26px;
}

div.navigation_bar li a {
    display: block;
    padding: 4px 12px;
    text-decoration: none;
    color: white;
}

div.navigation_bar li a:visited {
    color: white;
}

div.navigation_bar li.selected a {
    color: black;
}

div.navigation_bar li a:hover,
div.navigation_bar li.current_page {
    color: black;
}

/***********************
 * Page Content        *
 **********************/

div.container {
    position: absolute;
    background: #fff none repeat scroll 0 0;
    min-height:100%;
    width: 980px;
    margin: 0 auto;
}

div.page_content {
    position: relative;
    top: -10px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 940px;
}

div.page_content h1 {
    margin: 0px;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

/***********************
 * Main Content        *
 **********************/

div.main_content {
    text-align: left;
}

div.main_content h2 {
    text-align: center;
}

/***********************
 * Events Page         *
 **********************/

span.event_date {
    font-weight: bold;
}

table.photos {
    border-collapse: collapse;
}

table.photos td {
    text-align: center;
    padding: 10px 10px;
}

/***********************
 * Officers Page       *
 **********************/

div.officers ul {
    list-style-type: none;
    margin: 0px;
}

div.current-officers {
    margin-top: 20px;
}

div.current-officers li {
    height: 80px;
    padding-bottom: 20px;
    text-align: left;
}

div.current-officers img {
    height: 80px;
    width: 80px;
    background: #d1d1d1;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

div.officers p {
    margin-left: 10px;
    display: inline;
    text-indent: 0em;
}

div.officer img {
    float: left;
}

div.previous-officers .year {
    padding-left: 20px;
}

/***********************
 * Resources Page      *
 **********************/

div.resources ul {
    list-style-type: none;
    margin: 0px;
}

div.resources li {
    text-align: left;
    padding-bottom: 20px;
}

div.resources img {
    height: 96px;
    width: 96px;
    vertical-align: middle;
    background: #d1d1d1;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.resources p {
    margin-left: 10px;
    display: inline;
}
