/***********************
 * General             *
 **********************/

body {
    font-family: "Open Sans", "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: small;
    margin: 0 auto;
    padding: 0px;
    width: 980px;
    background: #5f6a72 none repeat scroll 0 0;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: large;
    font-weight: bold;
}

h3 {
    font-size: large;
    font-weight: normal;
}

/***********************
 * Header              *
 **********************/

div.header {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

div.header p {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #ccc;
    font-size: 2.2em;
}

div.header img {
    display: block;
}

/***********************
 * Footer              *
 **********************/

div.footer {
    width: 980px;
    height: 100px;
}

/***********************
 * Navigation Bar      *
 **********************/

div.navigation_bar {
    font-size: 1.2em;
    margin: 0 auto;
    position: relative;
    width: 980px;
    background: #d2082f; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2082f 0%, #d90b33 50%, #d90b33 51%, #9d0c26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2082f), color-stop(50%,#d90b33), color-stop(51%,#d90b33), color-stop(100%,#9d0c26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2082f 0%,#d90b33 50%,#d90b33 51%,#9d0c26 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2082f', endColorstr='#9d0c26',GradientType=0 ); /* IE6-9 */
    padding-top: 6px;
    padding-bottom: 6px;
    height: 26px;
}

div.navigation_bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div.navigation_bar li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    height: 26px;
}

div.navigation_bar li a {
    display: block;
    padding: 4px 12px;
    text-decoration: none;
    color: white;
}

div.navigation_bar li a:visited {
    color: white;
}

div.navigation_bar li.selected a {
    color: black;
}

div.navigation_bar li a:hover,
div.navigation_bar li.current_page {
    color: #aaa;
}

/***********************
 * Page Content        *
 **********************/

div.container {
    position: absolute;
    background: #fff none repeat scroll 0 0;
    min-height:100%;
    width: 980px;
    margin: 0 auto;
}

div.page_content {
    position: relative;
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 940px;
}

div.page_content h1 {
    margin: 0px;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

/*********************
 * Main Page         *
 ********************/

div.news .newsitem {
    margin-top: 20px;
    margin-bottom: 30px;
}

div.news .newsitem td {
    min-width: 100px;
}

div.news h2 {
    margin-bottom: 5px;
}

div.news h3 {
    font-size: 1em;
    color: #555;
    margin: 0px;
}

div.news .clear {
    clear: both;
}

/***********************
 * Officers Page       *
 **********************/

div.current-officers {
    text-align: center;
    padding-top: 30px;
    overflow: auto;
    width: 100%;
}

div.officer {
    float: left;
    width: 33%;
    display: inline-block;
}

div.officer .headshot {
    margin-bottom: 20px;
}

div.officer p {
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 10px;
    text-indent: 0em;
    display: block;
}

div.previous-officers {
    padding-top: 30px;
}

div.previous-officers .year {
    padding-left: 20px;
}

/***********************
 * Resources Page      *
 **********************/

div.resources ul {
    list-style-type: none;
    margin: 0px;
}

div.resources li {
    text-align: left;
    padding-bottom: 20px;
}

div.resources {
    margin: 0;
    padding: 0;
    width: 940px;
}

div.resources div.url-table {
    padding-bottom: 20px;
}

div.resources table td {
    padding: 0px 10px;
}

p.heading {
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    font-size:1.2em;
}

div.content {
    padding: 5px 10px;
    margin-left: 40px;
    overflow:hidden;
}

div.arrow {
    width: 16px;
    height: 16px;
    background-image: url(/images/triangle-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
}

div.expanded {
    width: 16px;
    height: 16px;
    background-image: url(/images/triangle-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
}

/***********************
 * Misc Pages          *
 **********************/

img.thumbnail {
    border: 1px solid black;
    box-shadow: 3px 3px 4px #000;
    margin-right: 20px;
}

div.thumbnail {
    float: left;
}

iframe {
    border: 0;
    width: 600px;
    height: 500px;
    margin-left: 100px;
    frameborder: 0;
    scrolling: no;
}

div.code {
    padding-left: 20px;
    background: #525252;
    color: #a6e22e;
    display: block;
    border: 1px solid #5f6a72;
    font-size: 1.2em;
}
